#bundleItems .blockHeading{
  margin-bottom: 0;
}

.bundleItemHeader {
  width: 300px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: space-around; */
}

.bundleItemPhoto {
  position: relative;
  &:nth-of-type(2){
    &:before{
      content: '';
      display: block;
      width: 2px;
      height: 8px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -17px;
      margin: auto;
      background: #ababab;
    }
    &:after{
      content: '';
      display: block;
      width: 8px;
      height: 2px;
      position: absolute;
      top: 29px;
      left: -20px;
      background: #ababab;
    }
  }
}

.bundleItemPhotoImg {
  width: auto;
  height: auto;
  max-width: 60px;
  max-height: 60px;
  display: block;
}

.bundleItemPriceSumMain {
  color: #bf0000;
  font-size: 18px;
  font-weight: bold;
}

.bundleItemPriceSumPrefix {
  font-size: 14px;
  font-weight: normal;
}

.bundleItemPriceSumSuffix {
  font-size: 18px;
  font-weight: bold;
}

.bundleItemPriceSumSub{
  position: absolute;
  left: 0;
  top: 18px;
  color: #333;
  font-size: 12px;
  font-weight: normal;
  width: 75px;
}

.bundleItemPriceSumNum{
  position: relative;
}

.bundleItemFormRow {
  border-bottom: 1px solid #eee;
  &:first-child {
    border-top: 1px solid #eee;
  }
}

.bundleItemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.bundleItemCheckWrapper {
  width: 40px;
  input[type="checkbox"] {
    display: none;
    &:checked{
      + .bundleItemCheckBox{
        &:before{
          content: "";
          position: absolute;
          top: 50%;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block;
          left: 13px;
          width: 13px;
          height: 8px;
          margin-top: -6px;
          border-left: 3px solid #bf0000;
          border-bottom: 3px solid #bf0000;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.bundleItemCheckBox{
  border: 1px solid #eee;
  border-radius: 2px;
  position: relative;
  width: 24px;
  height: 24px;
}

.bundleItemName {
  font-size: 12px;
}

.bundleItemPrice {
  font-size: 14px;
  color: #bf0000;
}

.bundleItemPriceIncTax{
  font-size: 10px;
  color: #333;
}

.bundleItemTextWrapper{
  border-left: 1px solid #eee;
  flex: 1 1 auto;
  padding: 8px;
}


.spriteEl1{
  background-image: url(img/sprite.png);
  background-position: 0px 0px;
  background-size: 52px 32px;
  width: 32px;
  height: 32px;
}

.spriteEl2{
  background-image: url(img/sprite.png);
  background-position: -32px 0px;
  background-size: 52px 32px;
  width: 20px;
  height: 20px;
}